html {
    height: 100%;
}

#login {
    position: fixed;
    width: 100%;
    height: 100%;

    background-color: white;

    font-family: ELAND_Choice_M;
}

#login > div {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 300px;
    
    margin: -180px 0 0 -150px;
}

#login > span {
    position: absolute;
    bottom: 0;
    right: 0;

    margin: 0 5px 5px 0;
}

#login > span:hover {
    text-decoration: underline;
    cursor: pointer;
}

#title {
    font-size: 3rem;
}

#title-div {
    margin-bottom: 50px;
    text-align: center;
}

.longBtn {
    width: 100%;
}

#errmsg {
    color: red;
    font-size: 0.8rem;
    padding-left: 5px;
    display: none;
}