body {
    height: 100%;
}

#idSpan {
    font-weight: bold;
}

#accountDropdown {
    top: 5px;
    left: 10px;

    display: none;
    position: fixed;
    cursor: pointer;
}

#accountDropdown > span {
    color: rgba(0, 0, 0, 0.9);
}

#accountDropdown > span:hover {
    color: rgba(0,0,0,.7);
}

section {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;

    font-family: ELAND_Choice_M;

    height: 100%;
}

#nav, #aside {
    width: 15%;

    overflow-x: hidden;
}

#center {
    width: 70%;

    padding: 10vh 20px 0 20px;
}

#filter {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
}

#filter > span, #sort > span, #subject > span, #service > span {
    margin-left: 20px;
    display: inline-block;
    cursor: pointer;

    border-radius: 23px;
}

#option {
    margin-bottom: 50px;
}

#option > div {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;

    margin: 5px 0;
}

#option > div > div:first-child {
    border-right: 1px solid black;
    padding: 0 20px 0 0;
    width: max-content;
    white-space: nowrap;
    text-align: center;
    vertical-align: middle;
}

#option > div:first-child > div:first-child {
    line-height: 48px;
}

.option-title {
    font-size: 1.1rem;
}

.option-selected {
    background-color: #00ab33;
    padding: 0 10px;
    color: white;
}

#scroll {
    overflow-x: hidden;
    overflow-y: auto;

    height: 60vh;
}

#scroll::-webkit-scrollbar {
    width: 5px;
}

#scroll::-webkit-scrollbar-thumb {
    background-color: rgba(128, 128, 128, 0.6);
    border-radius: 4px;
}

#scroll::-webkit-scrollbar-track {
    background-color: transparent;
}

#scroll > div {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
}

#scroll > div > span, #item > span {
    display: inline-block;
    margin-left: 20px;
    text-align: center;
}

#scroll > div > span:nth-child(1) {
    width: 70px;
}

#scroll > div > span:nth-child(2) {
    width: 115px;
}

#scroll > div > span:nth-child(3) {
    width: 600px;
}

#scroll > div > span:nth-child(3) > div:last-child {
    font-style: italic;
}

#scroll > div > span:nth-child(4), #scroll > div > span:nth-child(5), #scroll > div > span:nth-child(6), #scroll > div > span:nth-child(7) {
    width: 60px;
}

#scroll > div > span:nth-child(8) {
    width: 100px;
}

#alarm {
    position: absolute;
    right: 0;
    bottom: 0;

    margin: 5px 5px;

    display: none;
}

#item {
    border-bottom: 1px solid black;

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

#item > span:last-child {
    margin-right: 25px;
}

#table {
    width: max-content;
    margin: auto;
}

#reload {
    position: absolute;
    left: 0;
    bottom: 0;

    margin: 5px 5px;

    display: none;
}